@media (max-width: 767px) {
    .container-box {
        flex-direction: column;
        height: auto;
        font-size: 11px;
    }

    .box-table-user {
        width: 100%;
    }

    .order-block {
        grid-template-columns: repeat(2, 1fr);
    }

    .header {
        flex-wrap: wrap-reverse;
        gap: 20px;
        justify-content: center;
    }

    .toggle-buttons {
        margin-left: 0;
    }

    .user-profile-container {
        margin-right: -127px;
    }

    .data-table1 {
        border-spacing: 10px;
    }

    .data-table2 {
        border-spacing: 10px;
    }

    .table-wrapper2 {
        gap: 10px;
    }

    .user-wrapper {
        height: 100%;
    }

    .btn-add {
        padding: 2px 15px;
        margin-right: 10px;
    }

    .small-width {
        font-size: 9px;
        width: auto;
    }

    .product-edit {
        font-size: 11px;
    }

    .my-modal-content {
        width: 100%;
    }

    .delete-button  {
        padding: 2px 5px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    .container-box {
        font-size: 11px;
    }

    .product-edit {
        font-size: 11px;
    }

    .small-width {
        width: 20%;
    }
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    padding: 40px;
    border: solid 2px #2d2d2d;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-name {
    color: #2d2d2d;
    text-align: center;
    margin: -10px 0 40px 0;
}

.user-container {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-input {
    width: 250px;
    height: 30px;
    padding-left: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: solid 1px #2d2d2d;
    background: transparent;
}

.login-label {
    color: #2d2d2d;
    position: absolute;
    top: 5px;
    left: 15px;
    opacity: 0.6;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
}

.login-input:focus ~ .login-label,
.login-input:valid ~ .login-label {
    left: 20px;
    opacity: 0;
}

.login-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-submit {
    color: #2d2d2d;
    border: solid 2px #2d2d2d;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: transparent;
    transition: 0.4s;
}

.login-submit:hover {
    color: whitesmoke;
    background-color: #2d2d2d;
}

.invalid-input {
    color: darkred;
    display: block;
    margin: -20px 0 20px 10px;
}

.register-prompt-container {
    text-align: center;
    margin-top: 40px;
    line-height: 5px;
    font-size: 14px;
}

.register-prompt-container a {
    color: #2d2d2d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.register-prompt-container a:hover {
    color: #20c997;
}
