.container-box {
    display: flex;
    margin: 40px 50px 0 50px;
    height: 400px;
    border-radius: 7px;
    overflow: hidden;
}

.table-container {
    border-radius: 7px;
    background-color: deepskyblue;
    width: 75%;
    margin: 0 5px 0 15px;
    display: grid;
    position: relative;
}

.box-table-user {
    border-radius: 7px;
    margin: 0 15px 0 5px;
    width: 35%;
    display: grid;
    grid-template-rows: 35%;
}

.table-wrapper1 {
    background-color: deepskyblue;
    height: 370px;
    border-radius: 7px;
    padding: 7px;
}

.user-wrapper {
    background-color: orange;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 20%;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative;
}

.table-wrapper2 {
    background-color: #9f57ef;
    margin-top: 5px;
    border-radius: 7px;
    position: relative;
}

.data-table1 {
    width: 100%;
    border-spacing: 15px;
    border-collapse: separate;
}

.user-card {
    background-color: orange;
    border-radius: 7px;
    line-height: 20px;
}

.data-table2 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
    margin-top: 30px;
}

.table-header {
    background-color: mediumpurple;
    text-align: center;
    color: white;
    border-radius: 7px;
}

.table-data {
    text-align: center;
    background-color: #a1e7ff;
    border-radius: 7px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: inline-block;
}

.id-header {
    background-color: mediumpurple;
    color: white;
    width: 20px;
    border-radius: 7px;
    padding: 5px;
}

.interaction-header {
    background-color: mediumpurple;
    color: white;
    width: 20px;
    border-radius: 7px;
    padding: 5px;
    font-size: 10px;
}

p {
    margin: 15px 0 0 15px;
    font-size: 15px;
}

.product-add-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: forestgreen;
    border: solid forestgreen;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: white;
}

.order-edit-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: deepskyblue;
    border: solid deepskyblue;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: white;
}

.people-add-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: forestgreen;
    border: solid forestgreen;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: white;
}
