.container-box {
    display: flex;
    height: 400px;
    border-radius: 7px;
    overflow: auto;
}

.table-container {
    border-radius: 7px;
    border: 2px solid #2d2d2d;
    width: 100%;
    flex-grow: 1;
    margin-right: 5px;
    display: flex;
    position: relative;
}

.table-wrapper1 {
    border-radius: 7px;
    padding: 7px;
    overflow-x: auto;
    overflow-y: hidden;
}

.data-table1 {
    border-spacing: 15px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

.product-edit {
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.product-edit:hover {
    transform: scale(1.1);
}

.box-table-user {
    border-radius: 7px;
    margin-left: 5px;
    width: 35%;
    display: grid;
    grid-template-rows: 18%;
}

.user-wrapper {
    border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.table-wrapper2 {
    border: 2px solid black;
    margin-top: 5px;
    border-radius: 7px;
    position: relative;
}

.order-status-cart {
    width: 90%;
    flex-grow: 1;
    height: 50%;
    margin-top: 5px;
    margin-bottom: -1px;
}

.order-next-cart {
    height: 50%;
    width: 90%;
    flex-grow: 1;
}

.next-order {
    width: 100%;
    line-height: 15px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.next-order:hover {
    transform: scale(1.05);
}

.data-table2 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
    overflow: auto;
}

.data-table2 td {
    height: 35px;
}

.table-header {
    background-color: #404040;
    border: 2px solid #2d2d2d;
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
}

.table-data {
    text-align: center;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
}

.table-data.label {
    padding: 0 10px 0 10px;
}

.small-width {
    width: 15%;
}

.delete-button {
    background-color: #404040;
    color: #ffffff;
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    transition: transform 0.3s ease;
}

.delete-button:hover {
    transform: scale(1.1);
}

.btn-add-delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.btn-add-delete:hover {
    transform: scale(1.1);
}

.delete {
    right: 170px;
}

.delete:hover {
    transform: scale(1.1);
}

.add-product-people {
    position: absolute;
    right: 22px;
    bottom: 15px;
    padding: 5px 10px;
    width: 127px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.add-product-people:hover {
    transform: scale(1.1);
}

.order-edit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #d990ff;
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
}

.my-modal-space {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.my-modal-content {
    background-color: #f8f8f8;
    margin: 14% auto;
    width: 50%;
    max-width: 500px;
    padding: 30px;
    position: relative;
    border-radius: 7px;
}

.modal-sure {
    margin: 17% auto;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    border: none;
    border-radius: 7px;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
    font-size: 12px;
}

.yes-button {
    position: absolute;
    right: 70px;
    bottom: 10px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 12px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.no-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 12px;
    transition: transform 0.3s ease;
}

.yes-button:hover,
.no-button:hover {
    transform: scale(1.2);
}

.grid {
    display: flex;
}

.btn-minus,
.btn-plus {
    width: 25%;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    transition: transform 0.3s ease;
}

.btn-minus:hover,
.btn-plus:hover {
    transform: scale(2);
}

.product-amount {
    width: 50%;
    border: none;
    border-radius: 7px;
    padding: 6px;
}

.disabled:hover {
    transform: none;
    background-color: transparent;
    color: #2d2d2d;
}

.people-debt {
    width: 40%;
}

.create-order-container {
    margin-top: 10px;
    margin-left: 5px;
}

.btn-back {
    background-color: transparent;
    border: 2px solid #2d2d2d;
    margin-top: 10px;
    border-radius: 7px;
    color: #2d2d2d;
    transition: 0.3s;
}

.btn-back:hover {
    color: white;
    background-color: #404040;
}
