.container-box {
    display: flex;
    height: 400px;
    border-radius: 7px;
    overflow: auto;
}

.table-container {
    border-radius: 7px;
    border: 2px solid #2d2d2d;
    width: 100%;
    flex-grow: 1;
    margin-right: 5px;
    display: flex;
    position: relative;
}

.table-wrapper1 {
    border-radius: 7px;
    padding: 7px;
    overflow-x: auto;
    overflow-y: hidden;
}

.data-table1 {
    border-spacing: 15px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

.product-edit {
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.product-edit:hover {
    transform: scale(1.1);
}

.box-table-user {
    border-radius: 7px;
    margin-left: 5px;
    width: 35%;
    display: grid;
    grid-template-rows: 18%;
}

.user-wrapper {
    border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.table-wrapper2 {
    border: 2px solid black;
    margin-top: 5px;
    border-radius: 7px;
    position: relative;
}

.order-status-cart {
    width: 90%;
    flex-grow: 1;
    height: 50%;
    margin-top: 5px;
    margin-bottom: -1px;
}

.order-next-cart {
    height: 50%;
    width: 90%;
    flex-grow: 1;
}

.next-order {
    width: 100%;
    line-height: 15px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.next-order:hover {
    transform: scale(1.05);
}

.data-table2 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 15px;
    overflow: auto;
}

.data-table2 td {
    height: 35px;
}

.table-header {
    background-color: #404040;
    border: 2px solid #2d2d2d;
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
}

.table-data {
    text-align: center;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
}

.table-data.label {
    padding: 0 10px 0 10px;
}

.small-width {
    width: 15%;
}

.delete-button {
    background-color: #404040;
    color: #ffffff;
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    padding: 5px 10px;
    transition: transform 0.3s ease;
}

.delete-button:hover {
    transform: scale(1.1);
}

.btn-add-delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.btn-add-delete:hover {
    transform: scale(1.1);
}

.delete {
    right: 170px;
}

.delete:hover {
    transform: scale(1.1);
}

.add-product-people {
    position: absolute;
    right: 22px;
    bottom: 15px;
    padding: 5px 10px;
    width: 127px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.add-product-people:hover {
    transform: scale(1.1);
}

.order-edit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #d990ff;
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
}

.my-modal-space {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.my-modal-content {
    background-color: #f8f8f8;
    margin: 14% auto;
    width: 50%;
    max-width: 500px;
    padding: 30px;
    position: relative;
    border-radius: 7px;
}

.modal-sure {
    margin: 17% auto;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    border: none;
    border-radius: 7px;
    width: 30px;
    height: 20px;
    text-align: center;
    line-height: 10px;
    color: #ffffff;
    font-size: 12px;
}

.yes-button {
    position: absolute;
    right: 70px;
    bottom: 10px;
    background-color: #404040;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 12px;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.no-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
    border: 2px solid #2d2d2d;
    border-radius: 7px;
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 12px;
    transition: transform 0.3s ease;
}

.yes-button:hover,
.no-button:hover {
    transform: scale(1.2);
}

.grid {
    display: flex;
}

.btn-minus,
.btn-plus {
    width: 25%;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    transition: transform 0.3s ease;
}

.btn-minus:hover,
.btn-plus:hover {
    transform: scale(2);
}

.product-amount {
    width: 50%;
    border: none;
    border-radius: 7px;
    padding: 6px;
}

.order-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
}

.order-cart {
    border: 1px solid black;
    border-radius: 7px;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.order-cart:hover {
    transform: scale(1.05);
}

.header {
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.user-profile {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: -10px;
}

.user-profile img {
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.user-profile a {
    text-decoration: none;
    color: #2d2d2d;
    padding: 5px;
    pointer-events: none;
    margin-right: -10px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.3s, transform 0.3s;
}

.logout-button {
    border: none;
    background-color: transparent;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);
    transition: color 0.3s ease-in-out, opacity 0.3s, transform 0.3s;
    margin-right: 10px;
}

.logout-button:hover {
    color: #20c997;
}

.user-profile a.show, .logout-button.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.toggle-buttons {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.toggle-btn {
    background-color: #eee;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-btn.active {
    background-color: #ccc;
    color: #2d2d2d;
}

.disabled:hover {
    transform: none;
    background-color: transparent;
    color: #2d2d2d;
}

.people-debt {
    width: 40%;
}

.create-order-container {
    margin-top: 10px;
    margin-left: 5px;
}

.btn-create-order {
    border: 1px solid #2d2d2d;
    background-color: #404040;
    border-radius: 7px;
    margin-top: 10px;
    padding: 15px;
    line-height: 10px;
    width: 150px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.btn-create-order:hover {
    transform: scale(1.1);
}

.btn-back {
    background-color: transparent;
    border: 2px solid #2d2d2d;
    margin-top: 10px;
    border-radius: 7px;
    color: #2d2d2d;
    transition: 0.3s;
}

.btn-back:hover {
    color: white;
    background-color: #404040;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    border: solid 2px #2d2d2d;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-name {
    color: #2d2d2d;
    text-align: center;
    margin: -10px 0 40px 0;
}

.user-container {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-input {
    width: 250px;
    height: 30px;
    padding-left: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: solid 1px #2d2d2d;
    background: transparent;
}

.login-label {
    color: #2d2d2d;
    position: absolute;
    top: 5px;
    left: 15px;
    opacity: 0.6;
    font-size: 15px;
    pointer-events: none;
    transition: 0.5s;
}

.login-input:focus ~ .login-label,
.login-input:valid ~ .login-label {
    left: 20px;
    opacity: 0;
}

.login-submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-submit {
    color: #2d2d2d;
    border: solid 2px #2d2d2d;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: transparent;
    transition: 0.4s;
}

.login-submit:hover {
    color: whitesmoke;
    background-color: #2d2d2d;
}

.invalid-input {
    color: darkred;
    display: block;
    margin: -20px 0 20px 10px;
}

.register-prompt-container {
    text-align: center;
    margin-top: 40px;
    line-height: 5px;
    font-size: 14px;
}

.register-prompt-container a {
    color: #2d2d2d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.register-prompt-container a:hover {
    color: #20c997;
}
